.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        @include centeredFlex;
    }
}


.filter__btn {
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    background: #F5F4FA;
    border: 0;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;

    transition: color var(--primary-translate),
    background-color var(--primary-translate),
    box-shadow var(--primary-translate);

    &:first-child {
        padding: 6px 25px;
    }

    &:active
    &:focus,
    &:hover {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: var(--filter-buttom-shadow)
    }
}
