body {
    color: var(--main-text-color);
    font-family: var(--main-font-family);


}

.logo {
    color: var(--accent-color);
    font-family: var(--logo-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
        
    &__black {
        color: #000;
    }
    
    &__white {
        color: var(--primary-white-color);
    
    }
}


.section {
    padding-top: 60px;
    
    
    @include mq(desktop) {
        padding-top: 94px;
    }
}

.secondary-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;

    @include mq (desktop) {
        font-size: 36px;
        letter-spacing: 1.08px;    
    }                        
}

.third-title {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    @include mq(mobile-only) {
        text-align: center;
    }
}


