.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq (desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    }

}

.clients-list {
    display: grid;
    gap: 30px;
    margin-top: 30px;

    @media screen and (max-width: 479px) {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    @include mq (desktop) {
        display: flex;
        margin-top: 50px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}


.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition: fill var(--primary-translate),
    border var(--primary-translate);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

    @include mq (tablet) {
        width: 226px;
        height: 92px;
    }
  
    @include mq (desktop) {
        width: 170px;
        height: 92px;            
    }

}

