.peculiarities {
    padding-top: 60px;

    @include mq(desktop) {
        padding-top: 94px;        
    }


    &__text {
        color: var(--primary-text-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.42px;
        margin-top: 10px;


    }
}

.pec-list {
    @include mq(mobile) {
    display: block;
    }

    @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    
    @include mq(desktop) {
    display: flex;
    gap: 30px;
    }


}

.peculiarities__item {

    @include mq(mobile) {
        width: 450px;
    }

    @include mq(tablet) {
        width: 354px;
    }

    @include mq(desktop) { 
        width: 270px;
    }

}

.pec-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    height: 120px;  
      
    @include mq(mobile) {
        width: 100%;
}

    @include mq(tablet) {
        width: 354px;
    }

    @include mq(desktop) {
        width: 270px;        
    }
}

.pec__icon {
    --color1: #212121;
    --color2: #2196f3;
}

