.portfolio {

    &__title {
        display: none
    }
}


// work grid

.work {
    display: block; 

    @include mq(tablet) {   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 440px;
    gap: 30px;
    
    }

    @include mq(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 440px;
    gap: 30px;
    
    }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    &__name {
        border-left: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        border-right: 1px solid #EEE;
        background: var(--primary-white-color);
        padding: 20px 24px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
        margin-bottom: 4px;
        text-align: start;
    }


}

.work__link {
    color: var(--main-text-color);
    display: block;
    transition: box-shadow var(--primary-translate);
    transform: translatey(0);

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.type__work {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
    text-align: start;
}
